.custom-navbar .nav-link {
  color: white !important;
}
.custom-navbar {
  color: white !important;
}.btn-custom {
  background-color: #ffa500 !important;
  border: none !important;
border-radius: 0 !important;
margin: 2px;
  /* Add other styles as needed */
}
.header-custom {
  background-color: #94a9bd !important;
}
.nav-link{
  margin: 2%;
 inline-size: min-content;
}
.nav-link span:after {
  display:block;
  content: '';
  border-bottom: solid 3px black;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  background-color: black;
  color:white
}
.nav-link a > span {
  display:none;
}
.nav-link a:hover > span {
  display:block;
}
.nav-link a:hover > i {
  display:none;
}
.nav-link span:hover:after { 
  display : block;
  transform: scaleX(1);
}
.logout{
  float: right;
}
.menuIconColor{
  color : #077b8a;
}


.App {
  margin-top: 5px;
  cursor: pointer;
}
.navbar-nav{
  margin: 0px;
  margin-left: 10px;
}
.navlinkleft{
  color: #bbb!important;
  float: left;
}
.navbar-default{
  border-color: #555;
  height:32px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-item-left{
  background-color: #222;
  color:#888;
  float: left;
  height: 32px;
}
.navbar-text{
  color: #888!important;
  border-color: #555;
  height:32px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  vertical-align: middle!important;
}
.RightBoxNav {
  float: right!important;
  background-color: #222;
  vertical-align: middle!important;
}
.navbar-collapse .collapse .show{
  float:right;
}
.Boxer{
  float:right;
}
.MainNav {
  font-weight: bold;
  font-size: 130%;
  position: sticky;
  top: 0;
  cursor: pointer;
  background-color: #222;
  margin-bottom: 0px;
  z-index: 10;
  line-height:35px;
  height:35px;
  width:100%;
  min-width: 100%;
  min-height: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-inline-start: 0px;
  vertical-align: middle!important;
}
.navbar-light .navbar-toggler{
  float: right;
  width:32px;
  height: 32px;
  margin:0px;
  padding:0px;
}
.navbar-light .navbar-toggler .navbar-toggler-icon{
  width:32px;
  height:32px;
  background-color: #555;
  padding:0px;
  margin:0px;
}
.navbar-light .navbar-nav .navbar-link{
  width:32px;
  height:32px;
  background-color: #555;
  padding:0px;
  margin:0px;
}
