/* Add these styles in your CSS file */

.pagination-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
  }
  
  .pagination-1 .page-item {
    /* margin: 0 5px; */
    list-style: none;
    display: inline-block;
  }
  
  .pagination-1 .page-link {
    /* padding: 10px 15px; */
    text-decoration: none;
    color: #333;
    background-color: #fff;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pagination-1 .page-link:hover {
    background-color: #f0f0f0;
  }
  
  .pagination-1 .page-item.active .page-link {
    background-color: #D22B2B !important;
    color: #fff;
    border: 1px solid #D22B2B !important;
  }
  
  .pagination-1 .page-item.disabled .page-link {
    pointer-events: none;
    background-color: #ddd;
    color: #333;
    /* border: 1px solid #ddd; */
  }
  