.table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th{
    border: 1px solid #ddd;
    padding: 17px;
  }
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table th {
    background-color: #007bff;
  }
  
  .table tr:nth-child(even) {
    background-color: #C3EDC0;
  }
  
  .table tr:hover {
    background-color: #AAC8A7;
  }
  
  .table th.col-1,
  .table td.col-1 {
    width: 10%;
  }
  
  .table th.col-9,
  .table td.col-9 {
    width: 70%;
  }
 