/* .HeaderLogin{
    text-align: center;
    border-radius: '';
    width: 100px;
    background-color: #f0b06c;
    border-color: #f0b06c;
    padding:3px 20px ;
    margin: 0px 600px;
}

@media screen and (min-width:260px) and (max-width:1100px){
    .HeaderLogin{
        margin: 0px 0px;
    }
} */