@font-face {
  font-family:"Futura PT";
  src:url("//media-cdn.getbento.com/accounts/3aba79963eaec755ff2b03d837bda6a8/media/IKIY4pNrQAaVWStOdnFV_font.woff2") format("woff2")
}

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: '#E5E4E2';
}

/* .HomeSlider{
  background-image: url('./assets/img/Background-Image-Home.jpg');
} */

.HomeSlider{
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button{
  background-color: #0dba72c9 !important;
   color: black !important;
}

body {
  font-family: 'Poppins', sans-serif;
  /* background-color: #333333; */
  /* color: white !important; */
}

/* Add this to your CSS or styles */
.btn-transparent {
  background-color: transparent !important;
  color: inherit;
  border:#282c34
}
.image-preview {
  display: flex;
  flex-wrap: wrap;
}

.image-preview img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  box-sizing: border-box;
}
.checkbox-label {
  display: inline-block;
  margin-right: 10px;
}

.custom-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid brown;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
}

.custom-checkbox:checked {
  background-color: #0dba72c9;
  border-color: brown;
}

.custom-checkbox:checked::before {
  content: '\2713'; /* Unicode character for checkmark */
  color: white; /* Color of the checkmark */
  font-size: 14px; /* Adjust the size of the checkmark */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.with-border-radius {
  border-radius: 50% !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.content-container {
  min-height: calc(100vh - 34px);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-img-top {
  width: 50%;
  height:70%
}

button{
  background-color: #51bc8fb5 !important
}

.p-3{
  height:100%
}

.moreSpan{
  font-size: small;
  font-style: normal !important;
  color:#51bc8fb5
}