@import 'bootstrap/scss/bootstrap';

:root {
  --bs-primary-rgb: 0, 98, 204;
  --bs-secondary-rgb: 237, 28, 36;
}
.btn-custom {
  background-color: #ffa500 !important;
  border: none !important;
border-radius: 0 !important;
margin: 2px;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  // color: #EE402F !important;
  // background-color: #EE402F !important; 
}
.HomeSlider{
   background-color: green;
}
