#OrderSuccessMainImg{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url('../../assets/img/Bg4.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}